.custom-shape-divider-bottom-1707434871 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 20;
}

.custom-shape-divider-bottom-1707434871 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 124px;
}

.custom-shape-divider-bottom-1707434871 .shape-fill {
    fill: #FFFFFF;
}